@use "./global.styles.scss" as*;


.MuiTableCell-root.authors-table-headRow {
    color: white;
    font-weight: bold;
}

.MuiPaper-root.table-container {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.MuiTable-root.authors-table {
    width: 40%;
    max-height: 100vh;
    margin: 20px;
    background-color: white;
} 
