@use "./global.styles.scss" as *;



.issue-form-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .issue-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 20px 0;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        background-color: white;
        min-height: 800px;

        .issue-form-title {
            margin: 10px 0px;
            max-width: 80%;
        }


        #issue-form {
            display: inline-block;
            align-items: center;
            width: 80%;
            height: 98%;

            input[readonly],
            textarea[readonly],
            input[disabled] {
                background-color: #f5f5f5;
                color: #333;
                border: 1px solid #ccc;
                outline: 1px solid #ccc;
            }

            input,
            textarea,
            input {
                padding: 5px;
                font-size: 15px;
                display: inline-block;
                margin: 0px 5px;
                width: 100%;
            }

            label {
                display: inline-block;
                margin: 5px;
                width: 100%;
                font-weight: bold;
                font-size: 18px;
            }

            #description {
                resize: none;
                max-height: 200px;
                min-height: 150px;
                overflow-y: auto;
                font-size: inherit;
                font-family: inherit;
            }

        }


    }

}

.issue-sumbitBtn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    #issue-submitBtn {
        width: 50%;
        padding: 7px;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
        background-color: #4A90E2;
        border: 1px solid #4A90E2;
        color: white;
        transition: transform 0.3s ease;
        margin-bottom: 15px;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

.issue-error-message {
    text-align: center;
    min-height: 20px;
    font-size: 0.875rem;
    color: red;
    margin-top: 4px;
font-size: 18px;
}

.issue-success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}