@use "./global.styles.scss" as *;

.login-main-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    flex: 1;

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        background-color: white;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

        .login-title {
            text-align: center;
            color: $darkBlue;
        }

        form {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        label,
        input {
            display: inline-block;
            width: 90%;
            margin: 5px;
        }

        label {
            font-weight: bold;
            font-size: 18px;
        }

        input {
            padding: 5px;
            font-size: 16px;
        }

        .submit-container {
            display: flex;
            justify-content: center;
        }

        button {
            margin: 20px 0 10px 5px;
            background-color: #4A90E2;
            color: whitesmoke;
            border: 1px solid #4A90E2;
            border-radius: 5px;
            padding: 5px;
            font-weight: bolder;
            font-size: 18px;
            width: 100px;
            transition: transform 0.3s ease;

            &:hover {
                background-color: #3565A9;
                color: #e6f0ff;
                transform: scale(1.1);
            }
        }
    }
}

.login-password-wrapper {
  position: relative;
}

.login-password-wrapper .login-eye-icon .MuiSvgIcon-root {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(10%);
  cursor: pointer;
}

