@use "./global.styles.scss" as*;

.table-container.sorted {
    margin-top: 0 !important;
}

.sorted-publisher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sort-dropdown-container {
    display: flex;
    width: 700px;
}

.MuiSelect-select.MuiSelect-standard.MuiInputBase-input.MuiInput-input.css-unhb03-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiInput-input{
    min-width: 220px;
}